:root {
    --full-size: calc(100% - 56px);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.p-tag.p-component{
    color: white;
}

.p-tag.p-component.p-tag-danger {
        background-color: #d32f2fb7 !important;
}

.p-tag.p-component.p-tag-success {
    background-color: #16721b9f !important;
}

.p-tag.p-component.p-tag-warning {
        background-color: #8a1de479 !important;
}

.p-tag.p-component.p-tag-info {
    background-color: #f84600b0 !important;
}